Repository hTuneSys/hexaGenApp, changes with the labels that .github/labeler.yml gives for each.
All labels: module:source, module:docs, module:cli, type:doc, type:ci, type:test, type:infra, default:unclassified

feat(dist): prepaired android internal test dist
  .github/workflows/android-test.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  .github/workflows/android-test.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  .github/workflows/android-test.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  hexagenapp/android/app/build.gradle.kts
  hexagenapp/android/key.properties.example
Labels: module:source

feat(dist): prepaired android internal test dist
  .github/workflows/android-test.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  hexagenapp/ios/Runner/Info.plist
Labels: module:source

feat(dist): prepaired android internal test dist
  hexagenapp/android/app/build.gradle.kts
  hexagenapp/ios/Runner/Info.plist
Labels: module:source

feat(dist): prepaired android internal test dist
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source

feat(dist): prepaired android internal test dist
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
Labels: module:source

feat(freq): added log monitor
  hexagenapp/lib/src/core/service/log_service.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source

feat(freq): added log monitor
  REUSE.toml
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source, type:infra, default:unclassified

feat(log): added log moniyor (#23)
  REUSE.toml
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/service/log_service.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source, type:infra, default:unclassified

feat(icon): icon changed
  .github/workflows/android-test.yml
  hexagenapp/README.md
  hexagenapp/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  hexagenapp/assets/icon/app_icon.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Labels: module:source, module:docs, type:doc, type:ci

feat(icon): icon changed (#26)
  .github/workflows/android-test.yml
  REUSE.toml
  hexagenapp/README.md
  hexagenapp/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  hexagenapp/assets/icon/app_icon.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/service/log_service.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source, module:docs, type:doc, type:ci, type:infra, default:unclassified

feat(font): changed font download strategy
  hexagenapp/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  hexagenapp/assets/icon/app_icon.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  hexagenapp/lib/src/app.dart
  hexagenapp/lib/src/core/utils/theme.dart
Labels: module:source

feat(font): changed font download strategy (#27)
  hexagenapp/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  hexagenapp/assets/icon/app_icon.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  hexagenapp/lib/src/app.dart
  hexagenapp/lib/src/core/utils/theme.dart
Labels: module:source

feat(font): changed font download strategy
  .github/workflows/android-test.yml
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  hexagenapp/pubspec.yaml
Labels: module:source, type:ci, type:infra

feat(at): changed at system
  hexagenapp/assets/fonts/Inter-Bold.ttf
  hexagenapp/assets/fonts/Inter-Medium.ttf
  hexagenapp/assets/fonts/Inter-Regular.ttf
  hexagenapp/assets/fonts/Inter-SemiBold.ttf
  hexagenapp/assets/fonts/Rajdhani-Bold.ttf
  hexagenapp/assets/fonts/Rajdhani-Medium.ttf
  hexagenapp/assets/fonts/Rajdhani-Regular.ttf
  hexagenapp/assets/fonts/Rajdhani-SemiBold.ttf
  hexagenapp/lib/src/core/at/at.dart
  hexagenapp/lib/src/core/device/at.dart
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/service/device_service.dart
  hexagenapp/lib/src/core/sysex/sysex.dart
  hexagenapp/lib/src/core/utils/theme.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/lib/src/pages/settings.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

feat(background): added background work system
  hexagenapp/android/app/src/main/AndroidManifest.xml
  hexagenapp/android/app/src/main/kotlin/com/hexatune/hexagenapp/MainActivity.kt
  hexagenapp/android/app/src/main/res/drawable/ic_bg_service_small.xml
  hexagenapp/lib/main.dart
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/service/device_service.dart
  hexagenapp/lib/src/core/service/log_service.dart
  hexagenapp/lib/src/core/service/storage_service.dart
  hexagenapp/lib/src/core/storage/local_storage.dart
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

feat(before-doc): created first correct system
  hexagenapp/lib/l10n/app_en.arb
  hexagenapp/lib/l10n/app_localizations.dart
  hexagenapp/lib/l10n/app_localizations_en.dart
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/src/core/service/device_service.dart
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source

feat(historu): created history page
  hexagenapp/lib/l10n/app_en.arb
  hexagenapp/lib/l10n/app_localizations.dart
  hexagenapp/lib/l10n/app_localizations_en.dart
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/history.dart
  hexagenapp/lib/src/pages/main.dart
Labels: module:source

docs(basic): simple first documentation
  README.md
  docs/ARCHITECTURE.md
  docs/BRANDING.md
  docs/GETTING_STARTED.md
  docs/PROJECT_STRUCTURE.md
  docs/STYLE_GUIDE.md
Labels: module:docs, type:doc, default:unclassified

feat(notification): created notification system
  hexagenapp/android/app/build.gradle.kts
  hexagenapp/android/app/src/main/AndroidManifest.xml
  hexagenapp/lib/main.dart
  hexagenapp/lib/src/core/service/notification_service.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

release(beta): released v1.0.0-beta-1 (#31)
  hexagenapp/android/app/build.gradle.kts
  hexagenapp/android/app/src/main/AndroidManifest.xml
  hexagenapp/lib/main.dart
  hexagenapp/lib/src/core/service/notification_service.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

feat(multicore): fixed multicore
  hexagenapp/lib/l10n/app_en.arb
  hexagenapp/lib/l10n/app_localizations.dart
  hexagenapp/lib/l10n/app_localizations_en.dart
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/main.dart
  hexagenapp/lib/src/core/at/at.dart
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/error/error.dart
  hexagenapp/lib/src/core/service/device_service.dart
  hexagenapp/lib/src/core/service/notification_service.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

feat(multicore): fixed multicore
  hexagenapp/lib/src/core/at/at.dart
  hexagenapp/lib/src/core/device/device.dart
Labels: module:source

release: v1.0.0
  hexagenapp/lib/src/app.dart
  hexagenapp/lib/src/pages/layout.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source

release: release/v1.0.0 (#34)
  hexagenapp/lib/l10n/app_en.arb
  hexagenapp/lib/l10n/app_localizations.dart
  hexagenapp/lib/l10n/app_localizations_en.dart
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/main.dart
  hexagenapp/lib/src/app.dart
  hexagenapp/lib/src/core/at/at.dart
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/error/error.dart
  hexagenapp/lib/src/core/service/device_service.dart
  hexagenapp/lib/src/core/service/notification_service.dart
  hexagenapp/lib/src/pages/layout.dart
  hexagenapp/lib/src/pages/settings.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

refactor(ios): removed ipad config
  .github/workflows/commitlint.yml
  hexagenapp/ios/Runner.xcodeproj/project.pbxproj
  hexagenapp/ios/Runner/Info.plist
Labels: module:source, type:ci

feat(simulation): added simulation mode
  .github/workflows/commitlint.yml
  hexagenapp/lib/l10n/app_en.arb
  hexagenapp/lib/l10n/app_localizations.dart
  hexagenapp/lib/l10n/app_localizations_en.dart
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/src/core/service/storage_service.dart
  hexagenapp/lib/src/core/storage/local_storage.dart
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/history.dart
  hexagenapp/lib/src/pages/layout.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source, type:ci

feat(simulation): changed simulation mode
  hexagenapp/lib/src/core/service/storage_service.dart
  hexagenapp/lib/src/core/storage/local_storage.dart
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/layout.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source

init(project): auto project adder
  .github/CODEOWNERS
  .github/workflows/auto-add-project.yml
Labels: type:ci

feat: migrate AT/SysEx protocol from Dart to Rust FFI
  hexagenapp/android/app/src/main/jniLibs/arm64-v8a/libhexa_tune_proto_ffi.so
  hexagenapp/android/app/src/main/jniLibs/armeabi-v7a/libhexa_tune_proto_ffi.so
  hexagenapp/android/app/src/main/jniLibs/x86_64/libhexa_tune_proto_ffi.so
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/Info.plist
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/ios-arm64-simulator/Headers/hexa_tune_proto.h
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/ios-arm64-simulator/libhexa_tune_proto_ffi.a
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/ios-arm64/Headers/hexa_tune_proto.h
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/ios-arm64/libhexa_tune_proto_ffi.a
  hexagenapp/lib/src/core/at/at.dart
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/proto/at_command.dart
  hexagenapp/lib/src/core/proto/at_response.dart
  hexagenapp/lib/src/core/proto/hexa_tune_proto_ffi.dart
  hexagenapp/lib/src/core/proto/proto_service.dart
  hexagenapp/lib/src/core/service/device_service.dart
  hexagenapp/lib/src/core/sysex/sysex.dart
  hexagenapp/lib/src/pages/layout.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

fix: set JDK 21 for Gradle and update desugar_jdk_libs
  hexagenapp/android/app/build.gradle.kts
  hexagenapp/android/gradle.properties
Labels: module:source

feat: migrate AT/SysEx protocol from Dart to Rust FFI (#38)
  hexagenapp/android/app/build.gradle.kts
  hexagenapp/android/app/src/main/jniLibs/arm64-v8a/libhexa_tune_proto_ffi.so
  hexagenapp/android/app/src/main/jniLibs/armeabi-v7a/libhexa_tune_proto_ffi.so
  hexagenapp/android/app/src/main/jniLibs/x86_64/libhexa_tune_proto_ffi.so
  hexagenapp/android/gradle.properties
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/Info.plist
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/ios-arm64-simulator/Headers/hexa_tune_proto.h
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/ios-arm64-simulator/libhexa_tune_proto_ffi.a
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/ios-arm64/Headers/hexa_tune_proto.h
  hexagenapp/ios/Frameworks/HexaTuneProto.xcframework/ios-arm64/libhexa_tune_proto_ffi.a
  hexagenapp/lib/src/core/at/at.dart
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/proto/at_command.dart
  hexagenapp/lib/src/core/proto/at_response.dart
  hexagenapp/lib/src/core/proto/hexa_tune_proto_ffi.dart
  hexagenapp/lib/src/core/proto/proto_service.dart
  hexagenapp/lib/src/core/service/device_service.dart
  hexagenapp/lib/src/core/sysex/sysex.dart
  hexagenapp/lib/src/pages/layout.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

.github/labeler.yml:

# SPDX-FileCopyrightText: 2025 hexaTune LLC
# SPDX-License-Identifier: MIT

# ────────────────────────────────────────────────────────────────────────────────
# MODULE LABELS
# ────────────────────────────────────────────────────────────────────────────────

module:source:
  - changed-files:
      - any-glob-to-any-file: ["hexagenapp/**"]

module:docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**", "**/README.md"]

module:cli:
  - changed-files:
      - any-glob-to-any-file: ["scripts/**"]

# ────────────────────────────────────────────────────────────────────────────────
# TYPE LABELS
# ────────────────────────────────────────────────────────────────────────────────

type:doc:
  - changed-files:
      - any-glob-to-any-file:
          ["docs/**", "LICENSE", "LICENSES/**", "CHANGELOG.md", "**/README.md"]

type:ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**", ".gitignore", "package.json"]

type:test:
  - changed-files:
      - any-glob-to-any-file:
          - "integration-tests/**"
          - "benchmarks/**"
          - "**/tests/**"
          - "**/*_test.dart"
          - "**/test_*.dart"

type:infra:
  - changed-files:
      - any-glob-to-any-file:
          - "hexagenapp/**/pubspec.yaml"
          - "hexagenapp/**/pubspec.lock"
          - "hexagenapp/**/analysis_options.yaml"
          - "hexagenapp/**/.metadata"
          - "hexagenapp/**/melos.yaml"
          - "hexagenapp/**/melos.*"
          - ".releaserc.yml"
          - "REUSE.toml"

# ────────────────────────────────────────────────────────────────────────────────
# DEFAULT LABEL
# ────────────────────────────────────────────────────────────────────────────────

default:unclassified:
  - changed-files:
      - any-glob-to-any-file: ["*"]
