Repository hTuneSys/hexaGenApp, changes with the labels that .github/labeler.yml gives for each.
All labels: module:source, module:docs, module:cli, type:doc, type:ci, type:test, type:infra, default:unclassified

.github/labeler.yml:

# SPDX-FileCopyrightText: 2025 hexaTune LLC
# SPDX-License-Identifier: MIT

# ────────────────────────────────────────────────────────────────────────────────
# MODULE LABELS
# ────────────────────────────────────────────────────────────────────────────────

module:source:
  - changed-files:
      - any-glob-to-any-file: ["hexagenapp/**"]

module:docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**", "**/README.md"]

module:cli:
  - changed-files:
      - any-glob-to-any-file: ["scripts/**"]

# ────────────────────────────────────────────────────────────────────────────────
# TYPE LABELS
# ────────────────────────────────────────────────────────────────────────────────

type:doc:
  - changed-files:
      - any-glob-to-any-file:
          ["docs/**", "LICENSE", "LICENSES/**", "CHANGELOG.md", "**/README.md"]

type:ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**", ".gitignore", "package.json"]

type:test:
  - changed-files:
      - any-glob-to-any-file:
          - "integration-tests/**"
          - "benchmarks/**"
          - "**/tests/**"
          - "**/*_test.dart"
          - "**/test_*.dart"

type:infra:
  - changed-files:
      - any-glob-to-any-file:
          - "hexagenapp/**/pubspec.yaml"
          - "hexagenapp/**/pubspec.lock"
          - "hexagenapp/**/analysis_options.yaml"
          - "hexagenapp/**/.metadata"
          - "hexagenapp/**/melos.yaml"
          - "hexagenapp/**/melos.*"
          - ".releaserc.yml"
          - "REUSE.toml"

# ────────────────────────────────────────────────────────────────────────────────
# DEFAULT LABEL
# ────────────────────────────────────────────────────────────────────────────────

default:unclassified:
  - changed-files:
      - any-glob-to-any-file: ["*"]

feat(setup): rules Test
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  README.md
  REUSE.toml
  hexagenapp/README.md
  hexagenapp/analysis_options.yaml
  hexagenapp/lib/main.dart
  hexagenapp/pubspec.yaml
Labels: module:source, module:docs, type:doc, type:ci, type:infra, default:unclassified

feat(setup): rules Test
  .github/workflows/ci.yml
Labels: type:ci

feat(setup): rules Test (#11)
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  README.md
  REUSE.toml
  hexagenapp/README.md
  hexagenapp/analysis_options.yaml
  hexagenapp/lib/main.dart
  hexagenapp/pubspec.yaml
Labels: module:source, module:docs, type:doc, type:ci, type:infra, default:unclassified

feat(setup): rules Test (#11) (#12)
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  README.md
  REUSE.toml
  hexagenapp/README.md
  hexagenapp/analysis_options.yaml
  hexagenapp/lib/main.dart
  hexagenapp/pubspec.yaml
Labels: module:source, module:docs, type:doc, type:ci, type:infra, default:unclassified

feat(setup): rules Test (#11) (#12) (#13)
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  README.md
  REUSE.toml
  hexagenapp/README.md
  hexagenapp/analysis_options.yaml
  hexagenapp/lib/main.dart
  hexagenapp/pubspec.yaml
Labels: module:source, module:docs, type:doc, type:ci, type:infra, default:unclassified

feat(setup): setted up pre commit hooks
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  README.md
  REUSE.toml
  hexagenapp/README.md
  hexagenapp/analysis_options.yaml
  hexagenapp/lib/main.dart
  hexagenapp/pubspec.yaml
  hexagenapp/test/widget_test.dart
  package-lock.json
  package.json
Labels: module:source, module:docs, type:doc, type:ci, type:test, type:infra, default:unclassified

feat(setup): setted up pre commit hooks (#14)
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  REUSE.toml
  hexagenapp/lib/main.dart
  hexagenapp/test/widget_test.dart
  package-lock.json
  package.json
Labels: module:source, type:ci, type:test, type:infra, default:unclassified

feat(setup): setted up pre commit hooks
  .github/workflows/commitlint.yml
Labels: type:ci

feat(setup): setted up pre commit hooks (#15)
  .github/workflows/commitlint.yml
Labels: type:ci

feat(com): passed first communication
  REUSE.toml
  hexagenapp/android/app/src/main/AndroidManifest.xml
  hexagenapp/l10n.yaml
  hexagenapp/lib/l10n/app_en.arb
  hexagenapp/lib/l10n/app_localizations.dart
  hexagenapp/lib/l10n/app_localizations_en.dart
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/main.dart
  hexagenapp/lib/src/app.dart
  hexagenapp/lib/src/core/device/at.dart
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/device/sysex.dart
  hexagenapp/lib/src/core/error/error.dart
  hexagenapp/lib/src/core/service/device_service.dart
  hexagenapp/lib/src/core/service/log_service.dart
  hexagenapp/lib/src/core/theme/freq.dart
  hexagenapp/lib/src/core/utils/theme.dart
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/history.dart
  hexagenapp/lib/src/pages/howtouse.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/lib/src/pages/products.dart
  hexagenapp/lib/src/pages/settings.dart
  hexagenapp/pubspec.yaml
  hexagenapp/test/widget_test.dart
  pnpm-lock.yaml
Labels: module:source, type:test, type:infra, default:unclassified

feat(com): passed first communication (#17)
  REUSE.toml
  hexagenapp/android/app/src/main/AndroidManifest.xml
  hexagenapp/l10n.yaml
  hexagenapp/lib/l10n/app_en.arb
  hexagenapp/lib/l10n/app_localizations.dart
  hexagenapp/lib/l10n/app_localizations_en.dart
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/main.dart
  hexagenapp/lib/src/app.dart
  hexagenapp/lib/src/core/device/at.dart
  hexagenapp/lib/src/core/device/device.dart
  hexagenapp/lib/src/core/device/sysex.dart
  hexagenapp/lib/src/core/error/error.dart
  hexagenapp/lib/src/core/service/device_service.dart
  hexagenapp/lib/src/core/service/log_service.dart
  hexagenapp/lib/src/core/theme/freq.dart
  hexagenapp/lib/src/core/utils/theme.dart
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/history.dart
  hexagenapp/lib/src/pages/howtouse.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/lib/src/pages/products.dart
  hexagenapp/lib/src/pages/settings.dart
  hexagenapp/pubspec.yaml
  hexagenapp/test/widget_test.dart
  pnpm-lock.yaml
Labels: module:source, type:test, type:infra, default:unclassified

feat(pre-generating): prepaired before generating
  hexagenapp/lib/l10n/app_en.arb
  hexagenapp/lib/l10n/app_localizations.dart
  hexagenapp/lib/l10n/app_localizations_en.dart
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/src/app.dart
  hexagenapp/lib/src/core/error/error.dart
  hexagenapp/lib/src/core/service/storage_service.dart
  hexagenapp/lib/src/core/storage/local_storage.dart
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/history.dart
  hexagenapp/lib/src/pages/howtouse.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/lib/src/pages/products.dart
  hexagenapp/lib/src/pages/settings.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

feat(pre-generating): prepaired before generating
  hexagenapp/lib/src/core/service/storage_service.dart
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/history.dart
  hexagenapp/lib/src/pages/howtouse.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/lib/src/pages/products.dart
  hexagenapp/lib/src/pages/settings.dart
Labels: module:source

feat(pre-generating): prepaired before generating (#18)
  hexagenapp/lib/l10n/app_en.arb
  hexagenapp/lib/l10n/app_localizations.dart
  hexagenapp/lib/l10n/app_localizations_en.dart
  hexagenapp/lib/l10n/app_localizations_tr.dart
  hexagenapp/lib/l10n/app_tr.arb
  hexagenapp/lib/src/app.dart
  hexagenapp/lib/src/core/error/error.dart
  hexagenapp/lib/src/core/service/storage_service.dart
  hexagenapp/lib/src/core/storage/local_storage.dart
  hexagenapp/lib/src/pages/generation.dart
  hexagenapp/lib/src/pages/history.dart
  hexagenapp/lib/src/pages/howtouse.dart
  hexagenapp/lib/src/pages/main.dart
  hexagenapp/lib/src/pages/products.dart
  hexagenapp/lib/src/pages/settings.dart
  hexagenapp/pubspec.yaml
Labels: module:source, type:infra

feat(dist): prepaired ios test flight dist
  .github/workflows/ios-testflight.yml
  .gitignore
  fastlane/Fastfile
  hexagenapp/android/app/build.gradle.kts
  hexagenapp/android/app/local.properties
  hexagenapp/android/app/src/main/AndroidManifest.xml
  hexagenapp/android/app/src/main/kotlin/com/hexatune/hexagenapp/MainActivity.kt
  hexagenapp/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  hexagenapp/android/key.properties.example
  hexagenapp/assets/icon/app_icon.png
  hexagenapp/ios/Runner.xcodeproj/project.pbxproj
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  hexagenapp/pubspec.yaml
Labels: module:source, type:ci, type:infra, default:unclassified

feat(dist): prepaired ios test flight dist (#19)
  .github/workflows/ios-testflight.yml
  .gitignore
  fastlane/Fastfile
  hexagenapp/android/app/build.gradle.kts
  hexagenapp/android/app/local.properties
  hexagenapp/android/app/src/main/AndroidManifest.xml
  hexagenapp/android/app/src/main/kotlin/com/hexatune/hexagenapp/MainActivity.kt
  hexagenapp/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  hexagenapp/android/key.properties.example
  hexagenapp/assets/icon/app_icon.png
  hexagenapp/ios/Runner.xcodeproj/project.pbxproj
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  hexagenapp/pubspec.yaml
Labels: module:source, type:ci, type:infra, default:unclassified

feat(dist): prepaired ios test flight dist
  .github/workflows/ios-testflight.yml
Labels: type:ci

Develop (#21)
  .github/workflows/ios-testflight.yml
Labels: type:ci

feat(dist): prepaired ios test flight dist
  .github/workflows/ios-testflight.yml
Labels: type:ci

feat(dist): prepaired ios test flight dist
  .github/workflows/ios-testflight.yml
Labels: type:ci

feat(dist): prepaired ios test flight dist
  fastlane/Fastfile
Labels: none

feat(dist): prepaired ios test flight dist
  fastlane/Fastfile
  hexagenapp/ios/Flutter/Release.xcconfig
  hexagenapp/ios/exportOptions.plist
Labels: module:source

feat(dist): prepaired ios test flight dist
  fastlane/Fastfile
  hexagenapp/ios/Runner.xcodeproj/project.pbxproj
  hexagenapp/ios/exportOptions.plist
Labels: module:source

feat(dist): prepaired ios test flight dist
  fastlane/Fastfile
  hexagenapp/ios/exportOptions.plist
Labels: module:source

feat(dist): prepaired ios test flight dist
  .github/workflows/ios-testflight.yml
  fastlane/Fastfile
Labels: type:ci

feat(dist): prepaired ios test flight dist
  .github/workflows/ios-testflight.yml
Labels: type:ci

feat(dist): prepaired ios test flight dist
  .github/workflows/ios-testflight.yml
Labels: type:ci

feat(dist): prepaired ios test flight dist
  fastlane/Fastfile
  hexagenapp/ios/exportOptions.plist
Labels: module:source

feat(dist): prepaired ios test flight dist
  hexagenapp/ios/Flutter/Release.xcconfig
Labels: module:source

feat(dist): prepaired ios test flight dist
  hexagenapp/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  hexagenapp/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  hexagenapp/assets/icon/app_icon.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Labels: module:source

feat(dist): prepaired ios test flight dist
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  hexagenapp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Labels: module:source

feat(dist): prepaired ios test flight dist
  hexagenapp/ios/Runner/Info.plist
Labels: module:source

feat(dist): prepaired android internal test dist
  .github/workflows/android-internal.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  .github/workflows/android-internal.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  .github/workflows/android-internaltest.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  .github/workflows/android-internaltest.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  .github/workflows/android-test.yml
Labels: type:ci

feat(dist): prepaired android internal test dist (#22)
  .github/workflows/android-test.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  .github/workflows/android-test.yml
Labels: type:ci

feat(dist): prepaired android internal test dist
  .github/workflows/android-test.yml
Labels: type:ci
